<div class="chart-container">
    <div class="row">
        <div class="col">
            <canvas id="donorsStatisticsByState"></canvas>
        </div>
    </div>    
    <div class="row mt-5">
        <div class="col">
            <canvas id="averageIMCStatictsByAgeGroup"></canvas>
        </div>
        <div class="col">
            <canvas id="percentageObesePeopleStatistics"></canvas>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col">
            <canvas id="averageAgeStatictsByTypeBlood"></canvas>
        </div>
        <div class="col">
            <canvas id="suitableDonorsStatictsByTypeBlood"></canvas>
        </div>
    </div>
</div>
